<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory suffix=".php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix=".php">./tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="PERIMETER_ENABLED" value="true"/>
    <env name="PERIMETER_CLAMAV_ENABLED" value="true"/>
    <env name="PERIMETER_FALCO_ENABLED" value="true"/>
    <env name="PERIMETER_TRIVY_ENABLED" value="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
